/* Base */

*,
  *::before,
  *::after {
      box-sizing: border-box;
  }
  
  body {
    font-family: poppins-semibold, poppins, sans-serif;
    padding: 0;
    margin: 0;
  }
  
  ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      margin: 0;
  }
  
  h2 {
      color: var(--color-primary-dark);
  }
  
  a {
      display: inline-block;
  }
  
  p {
      margin-top: 0;
  }
  
  img {
      display: block;
      max-width: 100%;
      height: auto;
  }

/* Container */

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

/* Section */

.section__title {
    text-align: center;
    font-size: 50px;
    color: #061A57;
}  

/* Section Hero */

.hero {
    background: rgb(100, 200, 200);
    padding-top: 40px;
    padding-bottom: 80px;
}

.hero__title {
    text-align: center;
    font-size: 50px;
}

.hero__text {
    display: block;
    width: 600px;
    margin: 0 auto 40px;
    font-size: 22px;
}

.hero__button {
    display: block;
    margin: 0 auto;
    padding: 12px 40px;
    border-radius: 24px;
    background-color: chocolate;
    cursor: pointer;
}

/* Section Advantages */

.advantages {
    padding-top: 40px;
    padding-bottom: 80px;
}

.advantages-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.advantages-item {
    display: flex;
    gap: 20px;
}

.advantages-text {
    font-style: 16px;
}

/* Section Steps */

.steps-item {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.steps-item--reverse {
    display: flex;
    flex-direction: row-reverse;
}

.steps-number {
    font-size: 44px;
    color: rgb(0, 87, 225);
    font-weight: 700;
}

.steps-title {
    font-size: 36px;
    color: #061A57;
}

.steps-title--padding,
.steps-text--padding {
    padding-left: 40px;
}

.steps-text {
    font-size: 24px;
    color: #d6dbe7;
}

/* Section Forms */

.form-box {
    background-color: darkorange;
    width: 500px;
    margin: 0 auto;
}

.form-field {
    margin-bottom: 20px;
}

.form-input {
    color: #061A57;
    background-color: #c3d8ff;
    padding: 20px 40px;
    border-radius: 20px;
    border: 0;
}

.form-button {
    background-color: #1d67cd;
    color: #ffffff;
    padding: 20px 60px;
    font-size: 24px;
    font-family: poppins-semibold, poppins, sans-serif;
    border: 0;
    border-radius: 20px;
}